In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
import pandas_ta as ta
data = yf.download(tickers = '^RUI', start = '2012-03-11',end = '2022-07-10')
data.head(10)

[*********************100%%**********************]  1 of 1 completed

C:\Users\David\anaconda3\lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

                  Open        High         Low       Close   Adj Close  Volume
Date
2012-03-12  759.429993  760.619995  756.840027  759.130005  759.130005       0
2012-03-13  761.450012  773.030029  761.450012  772.979980  772.979980       0
2012-03-14  773.190002  774.679993  769.280029  771.630005  771.630005       0
2012-03-15  772.380005  776.469971  770.739990  776.419983  776.419983       0
2012-03-16  776.559998  778.099976  775.640015  777.130005  777.130005       0
2012-03-19  777.119995  782.549988  776.070007  780.090027  780.090027       0
2012-03-20  778.030029  778.299988  773.119995  777.369995  777.369995       0
2012-03-21  777.559998  778.650024  774.760010  776.150024  776.150024       0
2012-03-22  773.640015  773.640015  768.000000  770.270020  770.270020       0
2012-03-23  770.650024  774.010010  766.869995  772.929993  772.929993       0

In [4]:
# Adding indicators
data['RSI']=ta.rsi(data.Close, length=15)
data['EMAF']=ta.ema(data.Close, length=20)
data['EMAM']=ta.ema(data.Close, length=100)
data['EMAS']=ta.ema(data.Close, length=150)

data['Target'] = data['Adj Close']-data.Open
data['Target'] = data['Target'].shift(-1)

data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]

data['TargetNextClose'] = data['Adj Close'].shift(-1)

data.dropna(inplace=True)
data.reset_index(inplace = True)
data.drop(['Volume', 'Close', 'Date'], axis=1, inplace=True)

C:\Users\David\AppData\Local\Temp\ipykernel_16428\2358861191.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]

In [5]:
data_set = data.iloc[:, 0:11]#.values
pd.set_option('display.max_columns', None)

data_set.head(20)
#print(data_set.shape)
#print(data.shape)
#print(type(data_set))

,Open,High,Low,Adj Close,RSI,EMAF,EMAM,EMAS,Target,TargetClass,TargetNextClose
0,791.440002,795.679993,789.760010,789.760010,46.877256,795.406526,775.179523,762.677734,-2.690002,0,787.179993
1,789.869995,792.669983,785.640015,787.179993,44.575540,794.623046,775.417156,763.002267,6.260010,1,793.440002
2,787.179993,794.020020,786.260010,793.440002,50.849388,794.510376,775.774044,763.405416,7.019958,1,801.599976
3,794.580017,801.859985,794.580017,801.599976,57.558969,795.185576,776.285448,763.911304,4.369995,1,805.039978
4,800.669983,805.770020,800.669983,805.039978,60.023875,796.124090,776.854845,764.456055,-0.809998,0,803.330017
5,804.140015,806.770020,800.780029,803.330017,58.222935,796.810369,777.379106,764.970942,-12.209961,0,790.340027
6,802.549988,802.549988,788.549988,790.340027,46.795154,796.194146,777.635758,765.306956,0.830017,1,790.429993
7,789.599976,791.450012,784.169983,790.429993,46.872532,795.645179,777.889109,765.639712,-8.400024,0,779.619995
8,788.020020,788.020020,775.929993,779.619995,39.480532,794.118971,777.923384,765.824881,-4.059998,0,777.270020
9,781.330017,783.530029,776.349976,777.270020,38.081714,792.514309,777.910446,765.976472,-0.340027,0,779.429993
10,779.770020,783.950012,775.109985,779.429993,40.169328,791.268183,777.940536,766.154664,-0.700012,0,778.669983
11,779.369995,781.419983,773.960022,778.669983,39.665161,790.068355,777.954981,766.320430,0.019958,1,779.349976
12,779.330017,782.400024,775.820007,779.349976,40.382463,789.047557,777.982604,766.493007,7.890015,1,788.700012
13,780.809998,788.909973,780.400024,788.700012,49.268081,789.014457,778.194830,766.787140,-9.659973,0,781.150024
14,790.809998,792.239990,780.799988,781.150024,43.640756,788.265464,778.253349,766.977376,-2.289978,0,782.940002
15,785.229980,785.229980,777.969971,782.940002,45.229834,787.758277,778.346154,767.188802,5.350037,1,789.090027
16,783.739990,791.549988,783.739990,789.090027,50.380084,787.885110,778.558904,767.478884,-14.550049,0,770.789978
17,785.340027,785.340027,767.280029,770.789978,38.760053,786.257002,778.405064,767.522740,-9.880005,0,761.390015
18,771.270020,774.270020,761.390015,761.390015,34.394185,783.888718,778.068132,767.441512,1.250000,1,762.609985
19,761.359985,768.880005,758.909973,762.609985,35.405917,781.862172,777.762030,767.377518,-1.540039,0,762.669983

In [6]:
#Target column Categories
#y =[1 if data.Open[i]>data.Close[i] else 0 for i in range(0, len(data))]
#yi = [data.Open[i]-data.Close[i] for i in range(0, len(data))]
#print(yi)
#print(len(yi))

In [7]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
data_set_scaled = sc.fit_transform(data_set)
print(data_set_scaled)

ModuleNotFoundError: No module named 'sklearn'

In [10]:
# multiple feature from data provided to the model
X = []
#print(data_set_scaled[0].size)
data_set_scaled=data_set.values
backcandles = 30
print(data_set_scaled.shape[0])
for j in range(8):#data_set_scaled[0].size):#2 columns are target not X
    X.append([])
    for i in range(backcandles, data_set_scaled.shape[0]):#backcandles+2
        X[j].append(data_set_scaled[i-backcandles:i, j])

#move axis from 0 to position 2
X=np.moveaxis(X, [0], [2])

#Erase first elements of y because of backcandles to match X length
#del(yi[0:backcandles])
#X, yi = np.array(X), np.array(yi)
# Choose -1 for last column, classification else -2...
X, yi =np.array(X), np.array(data_set_scaled[backcandles:,-1])
y=np.reshape(yi,(len(yi),1))
#y=sc.fit_transform(yi)
#X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
print(X)
print(X.shape)
print(y)
print(y.shape)

2448
[[[ 791.44000244  795.67999268  789.76000977 ...  795.40652574
    775.17952268  762.67773397]
  [ 789.86999512  792.66998291  785.64001465 ...  794.6230464
    775.41715575  763.0022672 ]
  [ 787.17999268  794.02001953  786.26000977 ...  794.51037554
    775.7740438   763.40541601]
  ...
  [ 767.38000488  769.0300293   766.32000732 ...  769.82214758
    775.0197882   766.54571278]
  [ 771.02001953  778.79998779  771.02001953 ...  770.67717998
    775.09464364  766.70802106]
  [ 777.59002686  777.59002686  772.7199707  ...  771.3088769
    775.13851203  766.84844459]]

 [[ 789.86999512  792.66998291  785.64001465 ...  794.6230464
    775.41715575  763.0022672 ]
  [ 787.17999268  794.02001953  786.26000977 ...  794.51037554
    775.7740438   763.40541601]
  [ 794.58001709  801.85998535  794.58001709 ...  795.18557555
    776.28544839  763.91130421]
  ...
  [ 771.02001953  778.79998779  771.02001953 ...  770.67717998
    775.09464364  766.70802106]
  [ 777.59002686  777.59002686  772.7199707  ...  771.3088769
    775.13851203  766.84844459]
  [ 776.90997314  778.90002441  773.09002686 ...  771.52231603
    775.10705611  766.93720675]]

 [[ 787.17999268  794.02001953  786.26000977 ...  794.51037554
    775.7740438   763.40541601]
  [ 794.58001709  801.85998535  794.58001709 ...  795.18557555
    776.28544839  763.91130421]
  [ 800.66998291  805.77001953  800.66998291 ...  796.12409007
    776.85484501  764.45605486]
  ...
  [ 777.59002686  777.59002686  772.7199707  ...  771.3088769
    775.13851203  766.84844459]
  [ 776.90997314  778.90002441  773.09002686 ...  771.52231603
    775.10705611  766.93720675]
  [ 771.90002441  779.64001465  766.09002686 ...  772.27923552
    775.19345045  767.10320362]]

 ...

 [[2151.67993164 2168.52001953 2129.63989258 ... 2253.37203421
   2401.16751932 2420.76357918]
  [2149.94995117 2167.79003906 2094.11010742 ... 2243.02326532
   2396.08915183 2417.10723987]
  [2155.87988281 2187.11010742 2147.7800293  ... 2237.2791411
   2391.86382131 2414.00264015]
  ...
  [2099.37988281 2105.55004883 2085.23999023 ... 2131.24830349
   2297.43947906 2340.55157866]
  [2086.98999023 2094.7199707  2050.14990234 ... 2125.98274705
   2293.05374603 2337.04705392]
  [2075.         2101.60009766 2059.29003906 ... 2123.46439391
   2289.22179143 2333.90126564]]

 [[2149.94995117 2167.79003906 2094.11010742 ... 2243.02326532
   2396.08915183 2417.10723987]
  [2155.87988281 2187.11010742 2147.7800293  ... 2237.2791411
   2391.86382131 2414.00264015]
  [2169.37988281 2169.37988281 2126.34008789 ... 2230.05159362
   2387.29998114 2410.65677594]
  ...
  [2086.98999023 2094.7199707  2050.14990234 ... 2125.98274705
   2293.05374603 2337.04705392]
  [2075.         2101.60009766 2059.29003906 ... 2123.46439391
   2289.22179143 2333.90126564]
  [2092.55004883 2106.07006836 2053.87988281 ... 2121.76872898
   2285.58690273 2330.87820136]]

 [[2155.87988281 2187.11010742 2147.7800293  ... 2237.2791411
   2391.86382131 2414.00264015]
  [2169.37988281 2169.37988281 2126.34008789 ... 2230.05159362
   2387.29998114 2410.65677594]
  [2157.40991211 2195.7800293  2153.13989258 ... 2225.74573593
   2383.29087434 2407.66582643]
  ...
  [2075.         2101.60009766 2059.29003906 ... 2123.46439391
   2289.22179143 2333.90126564]
  [2092.55004883 2106.07006836 2053.87988281 ... 2121.76872898
   2285.58690273 2330.87820136]
  [2106.15991211 2124.41992188 2091.69995117 ... 2120.6869369
   2282.11805143 2327.95809157]]]
(2418, 30, 8)
[[ 779.4699707 ]
 [ 783.0300293 ]
 [ 783.36999512]
 ...
 [2110.40991211]
 [2144.30004883]
 [2141.68994141]]
(2418, 1)

In [11]:
#also comprehensions for X
#X = np.array([data_set_scaled[i-backcandles:i,:4].copy() for i in range(backcandles,len(data_set_scaled))])
#print(X)
#print(X.shape)

In [12]:
# split data into train test sets
splitlimit = int(len(X)*0.8)
print(splitlimit)
X_train, X_test = X[:splitlimit], X[splitlimit:]
y_train, y_test = y[:splitlimit], y[splitlimit:]
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(y_train)

1934
(1934, 30, 8)
(484, 30, 8)
(1934, 1)
(484, 1)
[[ 779.4699707 ]
 [ 783.0300293 ]
 [ 783.36999512]
 ...
 [1830.84997559]
 [1837.31005859]
 [1849.83996582]]

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import TimeDistributed

import tensorflow as tf
import keras
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import History
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Dropout, LSTM, Input, Activation, concatenate
import numpy as np
#tf.random.set_seed(20)
np.random.seed(10)

lstm_input = Input(shape=(backcandles, 8), name='lstm_input')
inputs = LSTM(150, name='first_layer')(lstm_input)
inputs = Dense(1, name='dense_layer')(inputs)
output = Activation('linear', name='output')(inputs)
model = Model(inputs=lstm_input, outputs=output)
adam = optimizers.Adam()
model.compile(optimizer=adam, loss='mse')
model.fit(x=X_train, y=y_train, batch_size=15, epochs=30, shuffle=True, validation_split = 0.1)

ImportError: cannot import name 'KerasLazyLoader' from 'tensorflow.python.util.lazy_loader' (C:\Users\David\anaconda3\lib\site-packages\tensorflow\python\util\lazy_loader.py)

In [16]:
y_pred = model.predict(X_test)
#y_pred=np.where(y_pred > 0.43, 1,0)
for i in range(10):
    print(y_pred[i], y_test[i])

NameError: name 'model' is not defined

In [ ]:
plt.figure(figsize=(16,8))
plt.plot(y_test, color = 'black', label = 'Test')
plt.plot(y_pred, color = 'green', label = 'pred')
plt.legend()
plt.show()